
$gridSmall: 768px;
$gridMedium: 992px;
$gridLarge: 1200px;


$regularSize: 1.6em;
$smallSize: 0.8em;
$helvetica: Helvetica, Arial, sans-serif;

$themePrimaryColor: #000000;
$themeBlueColor: rgb(111, 196, 230);
